@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<style type="text/css">

#chart {
  width: 960px;
  height: 500px;
  background: #ddd;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #000;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;  
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: 0;
}

.children:hover rect.child {
  fill: #bbb;
}

</style>

<p id="chart"></p>

@section scripts
{
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript">

        var repoTreeMapView = new RepoTreeMapView();

    </script>
}